label{
    color: yellow;
}
button{
  background-color: green; 
  border-radius: 10px;
}
div{
   
    background-color: black;
    border-radius: 10px;
    text-align: center;

}
form{
}
input{
    border-radius: 10px;
}

.btn{
    width: 300px;
    color: white;
}